* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
  content: url(images/airbnb-1.png);
}

.hero--pic {
  content: url(images/Group-77.png);
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--pic {
  max-width: 400ox;
  align-self: center;
  height: 232px;
}

.hero--header {
  font-size: 35px;
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
  font-style: normal;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  /* width: 175px; */
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.card--badge {
  /* position: absolute; */
  width: 62px;
  height: 0px;
  left: 43px;
  top: 527px;
  color: azure;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card--image {
  /* content: url(images/image-12.png); */
  height: 235px;
  /* width: 100%; */
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  /* content: url(images/Star-1.png); */
  height: 14px;
}

.card--price {
  margin-top: auto;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(Poppins/Poppins-ExtraLight.ttf);
  src: url(Poppins/Poppins-SemiBoldItalic.ttf);
}
